/* variables */
:root {
  --page-background: rgb(218, 233, 228);
  --text: rgba(104, 129, 73, 255);
  --header-text: #252424da;
  --header-background: rgba(36, 46, 33, 255);
}

/* general rules - predefined */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--page-background);
  color: var(--header-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--header-background);
  height: 70px;
}
/* logo */
#logo {
  display: flex;
  width: 23%;
  background-color: var(--text);
  padding-left: 50px;
  align-items: center;
}
/* logo image */
#logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 9px;
}
/* logo title*/
h1 {
  color: var(--header-text);
}
/* navigation */
nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: var(--text);
}
/* navigation list */
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin-right: 50px;
}
/* navigation links*/
nav a {
  text-decoration: none;
  margin-right: 10px;
  padding-left: 7px;
  padding-right: 7px;
  border-bottom: 3px solid rgba(104, 129, 73, 255);
  color: rgba(104, 129, 73, 255);
  font-weight: bold;
}
/* banner section */
.hero-banner {
  height: 200px;
  display: flex;
  background-image: url(../images/luisa-ji-SpKT27bNSOQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: flex-end;
  justify-content: flex-end;
}
/* banner subtitles */
.hero-banner h2 {
  margin-bottom: 10px;
  color: var(--header-background);
  font-weight: bolder;
  border-bottom: 2px double var(--header-background);
}
.hero-banner span {
  margin-left: 260px;
}
/* main section */
main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 80vh 15vh;
  grid-template-areas:
    "about"
    "work"
    "contact";
}
.page-section {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
}
/* main section header*/
.page-section h2 {
  font-size: 4vh;
  width: 20%;
  text-align: end;
  margin-top: 0;
  padding-right: 1%;
}
/* main section content*/
.page-section div {
  display: flex;
  border-left: 3px solid var(--header-text);
  padding-left: 3vw;
  padding-right: 3vw;
  height: 100%;
  width: 100%;
}
/* about section grid area */
#about {
  grid-area: about;
}
/* work section grid area */
#work {
  grid-area: work;
}
/* contact section grid area */
#contact {
  grid-area: contact;
}
/* contact section list */
#contact ul {
  margin: 0;
  height: 13vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  border-left: 3px solid var(--header-text);
  padding-left: 3vw;
  padding-right: 3vw;
}
/* contact section links */
#contact a {
  text-decoration: none;
  color: var(--header-text);
  border-bottom: 2px solid var(--header-text);
  padding-bottom: 2%;
}
/* work */
/* work section grid definition */
#app-container {
  height: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 25% 23% 24% 24%;
  grid-template-areas:
    "first-app first-app"
    "first-app first-app"
    "second-app third-app"
    "fourth-app fifth-app";
}
/* grid areas general rules */
.app {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  border: 5px solid var(--header-text) !important;
  padding: 0 !important;
}
/* work section rows definition */
.row3 {
  margin-top: 3.5% !important;
}
.row2,
.row3 {
  position: relative;
  bottom: 0;
  margin-top: 2%;
  width: 99% !important;
  height: 100%;
}
.column2 {
  margin-left: 1%;
}
/* work section areas definition */
#first {
  grid-area: first-app;
}
#second {
  grid-area: second-app;
}
#third {
  grid-area: third-app;
}
#fourth {
  grid-area: fourth-app;
}
#fifth {
  grid-area: fifth-app;
}
/* work section areas headings general definition */
.app-heading {
  position: absolute !important;
  display: flex !important;
  flex-direction: column;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: white;
  background-color: var(--header-text);
  padding-left: 10px !important;
  border: 0 !important;
}
/* work section first area heading definition */
#first .app-heading {
  bottom: 10px;
  max-height: 8%;
}
#first img {
  height: 100%;
}
/* work section row2 and row3 areas general heading definition */
.row2 .app-heading,
.row3 .app-heading {
  position: relative;
}
/* work section row2 areas heading definition */
.row2 .app-heading,
.row3 .app-heading {
  max-height: 42%;
  bottom: 5%;
}

/* work section areas images definition */
.app img:hover {
  opacity: 1;
  transition: 0.5s;
}
/* work section first area images definition */
.app img {
  opacity: 0.5;
  width: 74.2vw;
  height: 238px;
  object-fit: cover;
  overflow: hidden;
}
/* work section row2 and row3 areas images definition */
.row2 img,
.row3 img {
  width: 100% ;
  height: 100% ;
}
.empty:hover {
  cursor: default;
}
/* media queries */
@media only screen and (max-width: 1000px) {
  header {
    flex-direction: column;
    height: 10%;
  }
  #logo,
  h1 {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  #logo img {
    display: none;
  }
  nav ul {
    width: 100%;
  }
  .page-section {
    flex-direction: column;
    height: min-content;
  }
  .page-section h2 {
    width: 100%;
    text-align: start;
    border-bottom: 3px solid var(--header-text);
    margin-left: 3vw;
    width: 92%;
    margin-bottom: 1vh;
  }
  .page-section h2 br {
    display: none;
  }
  .page-section div {
    border: 0;
  }
  #contact ul {
    border: 0;
  }
  #first img {
    width: 100%;
  }
  #first .app-heading {
    bottom: -70px;
  }
  #work img {
    opacity: 1;
  }
  #work {
    margin-top: 10vh;
  }
  #contact {
    margin-top: 13vh;
  }
}
@media only screen and (max-width: 600px) {
  main {
    grid-template-rows: 40vh 100vh 30vh;
  }
  #app-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 18vh 18vh 18vh 18vh 18vh;
    grid-template-areas: 
    "first-app"
    "second-app"
    "third-app"
    "fourth-app"
    "fifth-app";
    justify-content: space-between;
    align-items: flex-end;
  }
  #app-container a {
    height: 97%;
  }
  #first {
    width: 99%;
  }
  #work, #contact {
    margin-top: 0;
  }
  .column1, .column2 {
    margin: 0 !important;
  }
  #contact ul {
    flex-direction: column;
    align-items: start;
    margin-top: 3vh;
  }
  #contact li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .row2 .app-heading, .row3 .app-heading {
    max-height: 30%;
  }
  #first .app-heading {
    bottom: 110px;
    max-height: 5%;
  }
  .hero-banner {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .hero-banner h2 {
    background: -webkit-linear-gradient(
      var(--page-background),
      var(--header-background)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
  }
  .hero-banner h2 span {
    margin: 0;
  }
}
