/* variables */
:root {
  --page-background: rgb(218, 233, 228);
  --text: rgba(104, 129, 73, 255);
  --header-text: #252424da;
  --header-background: rgba(36, 46, 33, 255);
}

/* general rules - predefined */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--page-background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--header-background);
  height: 70px;
}
/* logo */
#logo {
  display: flex;
  width: 23%;
  background-color: var(--text);
  padding-left: 50px;
  align-items: center;
}
#logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 9px;
}
h1 {
  color: var(--header-text);
}
/* navigation */
nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: var(--text);
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  margin-right: 10px;
  padding-left: 7px;
  padding-right: 7px;
  border-bottom: 3px solid rgba(104, 129, 73, 255);
  color: rgba(104, 129, 73, 255);
  font-weight: bold;
}
/* banner section */
.hero-banner {
  height: 200px;
  display: flex;
  background-image: url(../images/luisa-ji-SpKT27bNSOQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: flex-end;
  justify-content: flex-end;
}
.hero-banner h2 {
  margin-bottom: 10px;
  color: var(--header-background);
  font-weight: bolder;
  border-bottom: 2px double var(--header-background);
}
.hero-banner span {
  margin-left: 260px;
}
/* main section */
main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 75vh 15vh;
  grid-template-areas:
    "about"
    "work"
    "contact";
}
.page-section {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
}
.page-section h2 {
  font-size: 4vh;
  width: 20%;
  text-align: end;
  margin-top: 0;
  padding-right: 1%;
}
.page-section div {
  display: flex;
  border-left: 3px solid var(--text);
  padding-left: 3vw;
  padding-right: 3vw;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
#about {
  grid-area: about;
}
#work {
  grid-area: work;
}
#contact {
  grid-area: contact;
}
