/* variables */
:root {
  --page-background: rgb(218, 233, 228);
  --text: rgba(104, 129, 73, 255);
  --header-text: #252424da;
  --header-background: rgba(36, 46, 33, 255);
}

/* general rules - predefined */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--page-background);
  color: var(--header-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--header-background);
  height: 70px;
}
/* logo */
#logo {
  display: flex;
  width: 23%;
  background-color: var(--text);
  padding-left: 50px;
  align-items: center;
}
/* logo image */
#logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 9px;
}
/* logo title*/
h1 {
  color: var(--header-text);
}
/* navigation */
nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: var(--text);
}
/* navigation list */
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin-right: 50px;
}
/* navigation links*/
nav a {
  text-decoration: none;
  margin-right: 10px;
  padding-left: 7px;
  padding-right: 7px;
  border-bottom: 3px solid rgba(104, 129, 73, 255);
  color: rgba(104, 129, 73, 255);
  font-weight: bold;
}
/* banner section */
.hero-banner {
  height: 200px;
  display: flex;
  background-image: url(../images/luisa-ji-SpKT27bNSOQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: flex-end;
  justify-content: flex-end;
}
/* banner subtitles */
.hero-banner h2 {
  margin-bottom: 10px;
  color: var(--header-background);
  font-weight: bolder;
  border-bottom: 2px double var(--header-background);
}
.hero-banner span {
  margin-left: 260px;
}
/* main section */
main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 80vh 15vh;
  grid-template-areas:
    "about"
    "work"
    "contact";
}
.page-section {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
}
/* main section header*/
.page-section h2 {
  font-size: 4vh;
  width: 20%;
  text-align: end;
  margin-top: 0;
  padding-right: 1%;
}
/* main section content*/
.page-section div {
  display: flex;
  border-left: 3px solid var(--header-text);
  padding-left: 3vw;
  padding-right: 3vw;
  height: 100%;
  width: 100%;
}
/* about section grid area */
#about {
  grid-area: about;
}
/* work section grid area */
#work {
  grid-area: work;
}
/* contact section grid area */
#contact {
  grid-area: contact;
}
/* contact section list */
#contact ul {
  margin-top: 0;
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  border-left: 3px solid var(--header-text);
  padding-left: 3vw;
  padding-right: 3vw;
}
/* contact section links */
#contact a {
  text-decoration: none;
  color: var(--header-text);
  border-bottom: 2px solid var(--header-text);
  padding-bottom: 2%;
}
/* work */
/* work section grid definition */
#app-container {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 20% 25% 25% 25% 25%;
  grid-template-areas:
    "first-app first-app"
    "first-app first-app"
    "second-app third-app"
    "fourth-app fifth-app";
}
/* grid areas general rules */
.app {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  border: 5px solid var(--header-text) !important;
  padding: 0 !important;
}
/* work section rows definition */
.row2 {
  margin-top: 2%;
  margin-bottom: 2%;
}
.row3 {
  margin-bottom: 0;
  margin-top: 5%;
}
.row2,
.row3 {
  margin-left: 2%;
  width: 98% !important;
}
/* work section columns definition */
.column1 {
  margin-right: 2%;
  margin-left: 0;
}
/* work section areas definition */
#first {
  grid-area: first-app;
}
#second {
  grid-area: second-app;
}
#third {
  grid-area: third-app;
}
#fourth {
  grid-area: fourth-app;
}
#fifth {
  grid-area: fifth-app;
}
/* work section areas headings general definition */
.app-heading {
  position: absolute !important;
  display: flex !important;
  flex-direction: column;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: white;
  background-color: var(--header-text);
  padding-left: 10px !important;
  border: 0 !important;
}
/* work section first area heading definition */
#first .app-heading {
  top: 170px;
  max-height: 22%;
}
/* work section row2 and row3 areas general heading definition */
.row2 .app-heading,
.row3 .app-heading {
  position: absolute;
}
/* work section row2 areas heading definition */
.row2 .app-heading {
  top: 112vh;
  max-height: 7.5%;
}
/* work section row3 areas heading definition */
.row3 .app-heading {
  top: 134vh;
  max-height: 7.5%;
}
/* work section first area links definition */
#first a {
  border: 0 !important;
  position: absolute;
}
/* work section row2 and row3 areas links definition */
.row2 a,
.row3 a {
  width: 100%;
}
/* work section areas images definition */
.app img:hover {
  opacity: 1;
  transition: 0.5s;
}
/* work section first area images definition */
.app img {
  opacity: 0.5;
  width: 73.8vw;
  height: 238px;
  object-fit: cover;
}
/* work section row2 and row3 areas images definition */
.row2 img,
.row3 img {
  width: 100% !important;
  height: 100% !important;
}
